.navbar {
    background-color: #F6F6F7;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: right;
}

.cart-link {
    color: #888888;
    text-decoration: none;
    border: none;
    background: none;
    transition: color 0.2s;
    position: relative;
}

    .cart-link:hover {
        color: #222222;
    }

.cart-items {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background-color: white;
    border: 1px solid #888888;
    z-index: 1;
}

.cart-item {
    padding: 10px;
    display: flex;
}

.cart-item-img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.product-info-container {
    text-align: left;
    flex-grow: 1;
    max-width: 60%;
}

@media screen and (max-width: 768px) {
    .content-container {
        max-width: 100%;
    }
}

.content-container {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }
}
.product-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
}

    .product-container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        
    }

    .product-container h3 {
        margin-bottom: 10px;
    }

.product-img-container {
    margin-left: 20px;
}

.divider {
    border-bottom: 1px solid #CCCCCC;
    margin: 10px 0;
}

.price {
    font-weight: bold;
}

.description {
    color: #888888;
}

.asterisk {
    color: #C90000;
    margin-right: 2px;
}

.size-selection {
    margin-bottom: 20px;
}

    .size-selection label {
        color: #222222;
    }

.sizes {
    display: flex;
    justify-content: left;
}

    .sizes input[type="radio"] {
        display: none;
    }

    .size-option {
        border: 1px solid #CCCCCC;
        color: #CCCCCC;
        padding: 10px;
        margin: 0 5px;
        cursor: pointer;
    }

        .size-option:hover {
            border: 1px solid #888888;
            color: #888888;
        }

    .sizes input[type="radio"]:checked + label {
        background-color: #222222;
        color: #FFFFFF;
    }

.selected {
    border: 1px solid #888888;
    color: #888888;
}

.add-to-cart {
    color: #222222;
    background: none;
    border: 1px solid #222222;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .add-to-cart:hover {
        background-color: #222222;
        color: #CCCCCC;
    }
